.list_fer{
    color: blue;
    background: black;
    border: 3px red;
    border-style: solid;
    width: 500px%;
    text-align: left;
}
/*inseri este comentario no Css.*/
 .listtd ,td {
     text-align: center;
     border-style: solid;
     border: 2px black;
 }