.list_fer{
    color: blue;
    background: white;
    border: 1px black;
    border-style: solid;
    width: 100%;
    text-align: center;
}
 .listtd ,td {
     text-align: center;
     border-style: solid;
     border: 2px black;
 }